.heading {
	background-color: silver;
	text-align: center;
	padding: 1em;
	margin-bottom: 0.5em;
}

.article-content {
	background-color: whitesmoke;
	max-width: 61.80em;
	margin: 0.5em auto;
	padding: 0.5em;
	line-height: 1.5;
}